/* line 1, ../portfolio/bowling_bar/scss/_header.scss */
header {
  height: 100vh;
  background: url(../img/bg/header-bg.webp) no-repeat;
  background-size: cover;
  text-align: center;
  color: #F5F5F5;
}

/* line 9, ../portfolio/bowling_bar/scss/_header.scss */
header nav {
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 18, ../portfolio/bowling_bar/scss/_header.scss */
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

/* line 28, ../portfolio/bowling_bar/scss/_header.scss */
header nav ul li a {
  padding: 1rem 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #F5F5F5;
}

/* line 38, ../portfolio/bowling_bar/scss/_header.scss */
header .header-logo {
  width: 20cqh;
  position: absolute;
  z-index: 90;
  top: 10%;
  left: 5%;
  filter: drop-shadow(5px 5px 4px #000000);
}

/* line 47, ../portfolio/bowling_bar/scss/_header.scss */
header .title-wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-self: center;
  height: 100vh;
  row-gap: 1rem;
  container-type: size;
  position: relative;
}

/* line 56, ../portfolio/bowling_bar/scss/_header.scss */
header .title-wrap h1 {
  place-self: center;
  align-self: end;
  padding: 0 1rem;
}

/* line 61, ../portfolio/bowling_bar/scss/_header.scss */
header .title-wrap h1 span {
  display: inline;
  padding: 0.5rem;
  font-size: clamp(2.44rem, calc(1.27vw + 2.12rem), 3.16rem);
  line-height: 1.5;
  font-weight: 900;
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(30px) saturate(70%);
}

/* line 71, ../portfolio/bowling_bar/scss/_header.scss */
header .title-wrap h2 {
  place-self: center;
  align-self: start;
  line-height: 1.5;
  padding: 0 1rem;
}

/* line 78, ../portfolio/bowling_bar/scss/_header.scss */
header .title-wrap h2 span {
  display: inline;
  padding: 0.5rem;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
  font-weight: 700;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(30px) saturate(70%);
}

@media (max-width: 900px) {
  /* line 94, ../portfolio/bowling_bar/scss/_header.scss */
  .nav-top {
    font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  }
}

@media (max-width: 500px) {
  /* line 100, ../portfolio/bowling_bar/scss/_header.scss */
  .nav-top {
    font-size: clamp(0.8rem, calc(-0.09vw + 0.82rem), 0.75rem);
  }
}

/* line 1, ../portfolio/bowling_bar/scss/_section-about.scss */
.section-about {
  background-color: #F5F5F5;
  padding-bottom: 2rem;
}

/* line 6, ../portfolio/bowling_bar/scss/_section-about.scss */
.about {
  text-align: center;
}

/* line 8, ../portfolio/bowling_bar/scss/_section-about.scss */
.about h2 {
  padding-top: 2.5rem;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 12, ../portfolio/bowling_bar/scss/_section-about.scss */
.about p {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 17, ../portfolio/bowling_bar/scss/_section-about.scss */
.article-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  text-align: center;
  padding: 5rem 0;
}

/* line 25, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature {
  display: grid;
  grid-template-rows: 2fr 0.5fr 1.5fr 0.2fr;
}

/* line 30, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature .img-container {
  place-self: center;
}

/* line 34, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature .img-wrap img {
  border-radius: 50%;
  border-top: 6px solid #ED1C24;
}

/* line 39, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature .icon-wrap {
  background-color: #F5F5F5;
  display: inline-block;
  border-radius: 50%;
  padding: 1rem 1.6rem;
  border-top: 6px solid #ED1C24;
  margin: -3rem;
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
}

/* line 49, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature h3 {
  place-self: center;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 3;
}

/* line 55, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature p {
  place-self: center;
  align-self: start;
  font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  line-height: 1.5;
  padding-bottom: 2rem;
  margin: 0;
}

/* line 64, ../portfolio/bowling_bar/scss/_section-about.scss */
.feature a {
  place-self: center;
  align-content: start;
  background-color: #000000;
  color: #F5F5F5;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 900px) {
  /* line 81, ../portfolio/bowling_bar/scss/_section-about.scss */
  .article-about {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  /* line 84, ../portfolio/bowling_bar/scss/_section-about.scss */
  .article-about .feature {
    grid-template-rows: 3fr 0.5fr 1.5fr 0.2fr;
  }
}

@media (max-width: 600px) {
  /* line 91, ../portfolio/bowling_bar/scss/_section-about.scss */
  .article-about .feature {
    grid-template-rows: 2fr 0.5fr 1.5fr 0.2fr;
  }
}

@media (max-width: 500px) {
  /* line 97, ../portfolio/bowling_bar/scss/_section-about.scss */
  .article-about {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  /* line 102, ../portfolio/bowling_bar/scss/_section-about.scss */
  .article-about .feature {
    display: block;
  }
}

/* line 1, ../portfolio/bowling_bar/scss/_section-food.scss */
.section-food {
  background-color: #000000;
  color: #F5F5F5;
  padding-bottom: 2rem;
}

/* line 7, ../portfolio/bowling_bar/scss/_section-food.scss */
.heading-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

/* line 12, ../portfolio/bowling_bar/scss/_section-food.scss */
.heading-wrap h2 {
  position: absolute;
  display: inline-block;
  background-color: #ED1C24;
  border: 5px solid #000000;
  padding: 0.75rem 1rem;
  bottom: -2rem;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 23, ../portfolio/bowling_bar/scss/_section-food.scss */
.food-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  text-align: right;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* line 34, ../portfolio/bowling_bar/scss/_section-food.scss */
.drink-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  padding-bottom: 2rem;
}

/* line 43, ../portfolio/bowling_bar/scss/_section-food.scss */
.food-content h3,
.drink-content h3 {
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
  text-decoration: underline;
  text-decoration-color: #ED1C24;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

/* line 50, ../portfolio/bowling_bar/scss/_section-food.scss */
.food-content p,
.drink-content p {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 1.25;
  padding-bottom: 2rem;
}

/* line 56, ../portfolio/bowling_bar/scss/_section-food.scss */
.food-content a,
.drink-content a {
  font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  background-color: #ED1C24;
  color: #F5F5F5;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  letter-spacing: 1.5px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  /* line 70, ../portfolio/bowling_bar/scss/_section-food.scss */
  .food-info,
  .drink-info {
    grid-template-columns: 1fr;
    text-align: center;
  }
  /* line 77, ../portfolio/bowling_bar/scss/_section-food.scss */
  .drink-info img {
    order: -1;
  }
}

/* line 1, ../portfolio/bowling_bar/scss/_section-event.scss */
.section-event {
  background: url(../img/bg/bar-gradient.png) no-repeat;
  background-size: cover;
  text-align: center;
}

/* line 6, ../portfolio/bowling_bar/scss/_section-event.scss */
.section-event h2 {
  color: #F5F5F5;
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
  padding-top: 2rem;
}

/* line 11, ../portfolio/bowling_bar/scss/_section-event.scss */
.section-event .event-title {
  padding-top: 2rem;
  color: #F5F5F5;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 1.5;
}

/* line 19, ../portfolio/bowling_bar/scss/_section-event.scss */
.article-event {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

/* line 25, ../portfolio/bowling_bar/scss/_section-event.scss */
.event-item {
  filter: drop-shadow(1px 1px 1px #000000);
  padding-top: 4rem;
}

/* line 29, ../portfolio/bowling_bar/scss/_section-event.scss */
.event-item .icon-wrap {
  background-color: #F5F5F5;
  display: inline-block;
  border-radius: 50%;
  padding: 1rem 1.8rem;
  border-top: 6px solid #ED1C24;
  font-size: clamp(2.44rem, calc(1.27vw + 2.12rem), 3.16rem);
}

/* line 38, ../portfolio/bowling_bar/scss/_section-event.scss */
.event-item .event-item-content {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: #F5F5F5;
  margin-top: -3rem;
  padding: 0 0.5rem;
  border-radius: 15px;
  padding-bottom: 2rem;
}

/* line 48, ../portfolio/bowling_bar/scss/_section-event.scss */
.event-item .event-item-content h3 {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  padding-top: 3rem;
}

/* line 53, ../portfolio/bowling_bar/scss/_section-event.scss */
.event-item .event-item-content p {
  color: #000000;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  padding-top: 0;
  place-self: center;
}

/* line 61, ../portfolio/bowling_bar/scss/_section-event.scss */
.event-item .event-item-content a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  background-color: #000000;
  color: #F5F5F5;
  padding: 1rem;
  border-radius: 5px;
  width: 75%;
  place-self: center;
}

@media (max-width: 1000px) {
  /* line 77, ../portfolio/bowling_bar/scss/_section-event.scss */
  .section-event {
    padding-bottom: 4rem;
  }
  /* line 81, ../portfolio/bowling_bar/scss/_section-event.scss */
  .article-event {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media (max-width: 550px) {
  /* line 88, ../portfolio/bowling_bar/scss/_section-event.scss */
  .article-event {
    grid-template-columns: 1fr;
  }
}

/* line 1, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.section-gallery {
  background: url(../img/bg/wood-bg-pc-grad2.webp) center no-repeat;
  background-size: cover;
  color: #F5F5F5;
}

/* line 8, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.gallery h2,
.gallery p {
  text-align: center;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 1.5;
}

/* line 15, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.gallery h2 {
  padding: 3rem 0;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 18, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.gallery h2 span {
  background-color: #000000;
  border: 5px solid #F5F5F5;
  padding: 0.75rem 1rem;
}

/* line 26, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.gallery-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  column-gap: 2rem;
  row-gap: 2rem;
  font-size: 25rem;
  padding: 3rem 0;
}

/* line 36, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.gallery-wrap i {
  background-image: url(../img/other/default-square.png);
  background-size: contain;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 2px 2px #F5F5F5);
}

/* line 43, ../portfolio/bowling_bar/scss/_section-gallery.scss */
.gallery-wrap i:hover, .gallery-wrap i:active {
  transform: scale(1.05);
  transition-duration: 300ms;
}

/* line 1, ../portfolio/bowling_bar/scss/_section-contact.scss */
.section-contact {
  background-color: #1B1C1E;
  color: #F5F5F5;
  text-align: center;
  padding: 2rem 0;
}

/* line 10, ../portfolio/bowling_bar/scss/_section-contact.scss */
.contact h2 {
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
}

/* line 18, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact h3 {
  padding: 2rem 0;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 23, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .adress {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding-bottom: 2rem;
}

/* line 29, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .adress li {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 1.5;
}

/* line 34, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .adress li:first-of-type {
  text-align: center;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 40, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact p {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  text-decoration: underline;
}

/* line 45, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .mobile-mail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 1.5;
}

/* line 52, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .mobile-mail .mobile,
.article-contact .mobile-mail .mail {
  list-style: none;
}

/* line 56, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .mobile-mail .mobile li a,
.article-contact .mobile-mail .mail li a {
  color: #F5F5F5;
}

/* line 60, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .mobile-mail .mobile li:first-of-type,
.article-contact .mobile-mail .mail li:first-of-type {
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
}

/* line 66, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .hours-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  column-gap: 2rem;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 73, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .hours-list li:nth-child(2n) {
  justify-self: start;
}

/* line 77, ../portfolio/bowling_bar/scss/_section-contact.scss */
.article-contact .hours-list li:not(li:nth-child(2n)) {
  justify-self: end;
  padding-right: 3rem;
}

@media (max-width: 500px) {
  /* line 86, ../portfolio/bowling_bar/scss/_section-contact.scss */
  .article-contact .mobile-mail {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

/* line 2, ../portfolio/bowling_bar/scss/_menu.scss */
.menu-header {
  background: url(../img/menu/menu_bg_pc.jpg) no-repeat;
  background-size: cover;
}

/* line 7, ../portfolio/bowling_bar/scss/_menu.scss */
.section-menu-food,
.section-menu-drinks {
  background-color: #303030;
  color: #F5F5F5;
}

/* line 13, ../portfolio/bowling_bar/scss/_menu.scss */
.section-menu-food {
  border-top: 2px solid #F5F5F5;
}

/* line 17, ../portfolio/bowling_bar/scss/_menu.scss */
.section-menu-drinks {
  padding-bottom: 3rem;
  border-bottom: 2px solid #F5F5F5;
}

/* line 26, ../portfolio/bowling_bar/scss/_menu.scss */
.menu-food h2,
.menu-drinks h2 {
  color: #F5F5F5;
  text-align: center;
  line-height: 2;
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
  padding-top: 2rem;
}

/* line 34, ../portfolio/bowling_bar/scss/_menu.scss */
.menu-food p,
.menu-drinks p {
  color: #F5F5F5;
  text-align: center;
  line-height: 1.5;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 42, ../portfolio/bowling_bar/scss/_menu.scss */
.food-heading {
  text-align: center;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 46, ../portfolio/bowling_bar/scss/_menu.scss */
.food-heading small {
  font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
}

/* line 51, ../portfolio/bowling_bar/scss/_menu.scss */
.food-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20%;
  line-height: 2;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 58, ../portfolio/bowling_bar/scss/_menu.scss */
.food-wrap .food-description {
  padding-left: 30%;
}

/* line 63, ../portfolio/bowling_bar/scss/_menu.scss */
.food-price {
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
}

/* line 68, ../portfolio/bowling_bar/scss/_menu.scss */
.pizza-wrap {
  padding: 1rem 0;
}

/* line 72, ../portfolio/bowling_bar/scss/_menu.scss */
.pizza-wrap .food-name {
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
  padding-left: 30%;
}

/* line 75, ../portfolio/bowling_bar/scss/_menu.scss */
.pizza-wrap .food-name small {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 82, ../portfolio/bowling_bar/scss/_menu.scss */
.food-container h3 {
  padding: 2rem 0;
}

/* line 87, ../portfolio/bowling_bar/scss/_menu.scss */
.food-price {
  font-weight: 700;
}

/* line 95, ../portfolio/bowling_bar/scss/_menu.scss */
.dips-wrap {
  row-gap: 1rem;
}

/* line 102, ../portfolio/bowling_bar/scss/_menu.scss */
.dips-wrap .food-name,
.side-dish-wrap .food-name {
  padding-left: 35%;
}

/* line 106, ../portfolio/bowling_bar/scss/_menu.scss */
.dips-wrap .food-price,
.side-dish-wrap .food-price {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 115, ../portfolio/bowling_bar/scss/_menu.scss */
.drink-wrap {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr;
  line-height: 2;
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
}

/* line 122, ../portfolio/bowling_bar/scss/_menu.scss */
.drink-container {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: 2rem 0;
  border: 1px solid;
  border-radius: 15px;
  border-style: double;
  border-width: 15px;
}

/* line 132, ../portfolio/bowling_bar/scss/_menu.scss */
.drink-name {
  text-align: left;
  padding-left: 35%;
}

/* line 137, ../portfolio/bowling_bar/scss/_menu.scss */
.drink-liters {
  text-align: right;
}

/* line 141, ../portfolio/bowling_bar/scss/_menu.scss */
.drink-price {
  text-align: left;
  padding-left: 5%;
}

/* line 147, ../portfolio/bowling_bar/scss/_menu.scss */
.drink-heading {
  text-align: center;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
  color: #F5F5F5;
  padding: 2.5rem 0;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

/* line 164, ../portfolio/bowling_bar/scss/_menu.scss */
.mixed-drinks-wrap .drink-name small,
.bucket-4-wrap .drink-name small,
.bucket-8-wrap .drink-name small {
  font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
}

/* line 170, ../portfolio/bowling_bar/scss/_menu.scss */
.mixed-drinks-wrap,
.bucket-4-wrap,
.bucket-8-wrap {
  row-gap: 1rem;
}

/* line 176, ../portfolio/bowling_bar/scss/_menu.scss */
.bucket-8 {
  margin-bottom: 0;
}

/* line 180, ../portfolio/bowling_bar/scss/_menu.scss */
.nealko {
  margin-top: 0;
}

@media (max-width: 900px) {
  /* line 190, ../portfolio/bowling_bar/scss/_menu.scss */
  .food-wrap .food-description {
    padding-left: 0;
  }
  /* line 196, ../portfolio/bowling_bar/scss/_menu.scss */
  .pizza-wrap .food-name {
    font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
    padding-left: 0;
  }
  /* line 199, ../portfolio/bowling_bar/scss/_menu.scss */
  .pizza-wrap .food-name small {
    font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  }
  /* line 204, ../portfolio/bowling_bar/scss/_menu.scss */
  .pizza-wrap .food-price {
    font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
    text-align: center;
  }
  /* line 213, ../portfolio/bowling_bar/scss/_menu.scss */
  .dips-wrap .food-name,
  .side-dish-wrap .food-name {
    padding-left: 10%;
  }
  /* line 216, ../portfolio/bowling_bar/scss/_menu.scss */
  .dips-wrap .food-price,
  .side-dish-wrap .food-price {
    text-align: center;
  }
  /* line 221, ../portfolio/bowling_bar/scss/_menu.scss */
  .drink-name {
    padding-left: 5%;
  }
  /* line 225, ../portfolio/bowling_bar/scss/_menu.scss */
  .drink-price {
    text-align: center;
  }
}

@media (max-width: 500px) {
  /* line 236, ../portfolio/bowling_bar/scss/_menu.scss */
  .food-wrap {
    display: block;
    text-align: center;
  }
  /* line 240, ../portfolio/bowling_bar/scss/_menu.scss */
  .food-wrap .food-price {
    padding: 1rem 0;
  }
  /* line 248, ../portfolio/bowling_bar/scss/_menu.scss */
  .dips-wrap .food-name,
  .side-dish-wrap .food-name {
    padding-left: 0;
  }
  /* line 253, ../portfolio/bowling_bar/scss/_menu.scss */
  .drink-wrap {
    font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  }
  /* line 257, ../portfolio/bowling_bar/scss/_menu.scss */
  .drink-container {
    border-radius: 8px;
    border-style: double;
    border-width: 8px;
  }
}

/* line 2, ../portfolio/bowling_bar/scss/_games.scss */
.games-header {
  background: url(../img/games/games_bg_pc.jpg) center no-repeat;
  background-size: cover;
}

/* line 10, ../portfolio/bowling_bar/scss/_games.scss */
.welcome-text {
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
  margin: 0 auto;
  padding: 2rem 0;
  line-height: 1.5;
  text-align: center;
}

/* line 18, ../portfolio/bowling_bar/scss/_games.scss */
.welcome-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: clamp(3.05rem, calc(2.06vw + 2.54rem), 4.21rem);
  text-align: center;
  padding: 2rem 0;
}

/* line 26, ../portfolio/bowling_bar/scss/_games.scss */
.welcome-icons a {
  color: #F5F5F5;
  border: 2px solid;
  padding: 1rem 2rem;
  border-radius: 10px;
}

/* line 32, ../portfolio/bowling_bar/scss/_games.scss */
.welcome-icons a:hover, .welcome-icons a:active {
  color: #FAB005;
}

/* line 39, ../portfolio/bowling_bar/scss/_games.scss */
.games-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0;
  text-align: center;
}

/* line 45, ../portfolio/bowling_bar/scss/_games.scss */
.games-item img {
  place-self: center;
  padding-top: 4rem;
}

/* line 50, ../portfolio/bowling_bar/scss/_games.scss */
.games-item h3 {
  text-align: center;
  font-size: clamp(1.56rem, calc(0.38vw + 1.47rem), 1.78rem);
  padding: 2rem 0;
}

/* line 55, ../portfolio/bowling_bar/scss/_games.scss */
.games-item h3 span {
  padding: 1rem;
  border: 2px solid;
  border-radius: 5px;
}

/* line 62, ../portfolio/bowling_bar/scss/_games.scss */
.games-item p {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  line-height: 1.5;
}

/* line 67, ../portfolio/bowling_bar/scss/_games.scss */
.games-item h4 {
  font-size: clamp(1.25rem, calc(0.15vw + 1.21rem), 1.33rem);
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* line 76, ../portfolio/bowling_bar/scss/_games.scss */
.section-games-1 {
  background-color: #1F1F1F;
  color: #F5F5F5;
  border-top: 2px solid #000000;
  border-bottom: 3px solid #FAB005;
}

/* line 83, ../portfolio/bowling_bar/scss/_games.scss */
.section-games-2 {
  background-color: #F5F5F5;
  color: #000000;
  border-bottom: 5px solid #000000;
}

/* line 1, ../portfolio/bowling_bar/scss/_footer.scss */
footer {
  background: url(../img/bg/footer-bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  color: #F5F5F5;
}

/* line 8, ../portfolio/bowling_bar/scss/_footer.scss */
.section-footer {
  min-height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 3rem;
}

/* line 14, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}

/* line 19, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1rem;
  font-size: clamp(1rem, calc(0vw + 1rem), 1rem);
  font-weight: 700;
}

/* line 28, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 ul li a {
  color: #F5F5F5;
  white-space: nowrap;
}

/* line 34, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 .logo img {
  max-width: 40%;
  filter: drop-shadow(5px 5px 4px #000000);
}

/* line 39, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 .social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
}

/* line 45, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 .social .icon {
  border: 1px solid #F5F5F5;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* line 52, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-1 .social .icon a {
  color: #F5F5F5;
}

/* line 61, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  text-align: center;
}

/* line 67, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-2 ul {
  list-style: none;
  border: 1px solid #F5F5F5;
  padding: 1rem 0;
  border-radius: 10px;
}

/* line 73, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-2 ul li {
  line-height: 1.5;
}

/* line 76, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-2 ul li a {
  color: #F5F5F5;
}

/* line 81, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-2 ul li:nth-child(1) {
  font-size: clamp(1.95rem, calc(0.74vw + 1.77rem), 2.37rem);
}

/* line 85, ../portfolio/bowling_bar/scss/_footer.scss */
.footer-nav-2 ul li:nth-child(2) {
  font-weight: 700;
}

@media (max-width: 1150px) {
  /* line 96, ../portfolio/bowling_bar/scss/_footer.scss */
  .social {
    padding-left: 1rem;
  }
  /* line 100, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-1 .logo img {
    max-width: 80%;
  }
}

@media (max-width: 1024px) {
  /* line 106, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-1 {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  /* line 111, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-1 .logo {
    text-align: center;
  }
  /* line 115, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-1 .logo img {
    max-width: 30%;
  }
  /* line 119, ../portfolio/bowling_bar/scss/_footer.scss */
  .social {
    padding-left: 0rem;
  }
}

@media (max-width: 750px) {
  /* line 125, ../portfolio/bowling_bar/scss/_footer.scss */
  .dot {
    display: none;
  }
  /* line 129, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-2 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
}

@media (max-width: 550px) {
  /* line 136, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-1 ul {
    display: none;
  }
}

@media (max-width: 400px) {
  /* line 142, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-1 .logo img {
    max-width: 50%;
  }
  /* line 146, ../portfolio/bowling_bar/scss/_footer.scss */
  .footer-nav-2 {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}

/* line 154, ../portfolio/bowling_bar/scss/_footer.scss */
.credits {
  background-color: #000000;
  color: #F5F5F5;
  text-align: center;
  font-size: clamp(0.8rem, calc(-0.09vw + 0.82rem), 0.75rem);
  padding: 0.5rem 0;
}

/* line 161, ../portfolio/bowling_bar/scss/_footer.scss */
.credits a {
  color: #F5F5F5;
  padding-left: 0.25rem;
}

/* line 14, ../portfolio/bowling_bar/scss/main.scss */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* line 20, ../portfolio/bowling_bar/scss/main.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 24, ../portfolio/bowling_bar/scss/main.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 30, ../portfolio/bowling_bar/scss/main.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 36, ../portfolio/bowling_bar/scss/main.scss */
ul {
  margin: 0;
  padding-left: 0;
}

/* line 41, ../portfolio/bowling_bar/scss/main.scss */
a {
  text-decoration: none;
}

/* line 45, ../portfolio/bowling_bar/scss/main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}

/* line 55, ../portfolio/bowling_bar/scss/main.scss */
main,
section {
  max-width: 100%;
}

/* line 60, ../portfolio/bowling_bar/scss/main.scss */
section {
  min-height: 100vh;
}

/* line 64, ../portfolio/bowling_bar/scss/main.scss */
.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/*# sourceMappingURL=main.css.map */