// HEADER
.games-header {
    background: url(../img/games/games_bg_pc.jpg) center no-repeat;
    background-size: cover;
}


// GAMES

.welcome-text {
    font-size: $fs-lg;
    margin: 0 auto;
    padding: 2rem 0;
    line-height: 1.5;
    text-align: center;
}

.welcome-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: $fs-xxxl;
    text-align: center;
    padding: 2rem 0;

    a {
        color: $color-font-lt;
        border: 2px solid;
        padding: 1rem 2rem; 
        border-radius: 10px;

        &:hover,
        &:active {
            color: $color-icons-highlight;
        }
    }
}

.games-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
    text-align: center;

    img {
        place-self: center;
        padding-top: 4rem;
    }

    h3 {
        text-align: center;
        font-size: $fs-lg;
        padding: 2rem 0;
        
        span {
            padding: 1rem;
            border: 2px solid;
            border-radius: 5px;
        }
    }

    p {
        font-size: $fs-md;
        line-height: 1.5;
    }

    h4 {
        font-size: $fs-md;
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}



.section-games-1 {
    background-color: $color-bg-games1;
    color: $color-font-lt;
    border-top: 2px solid $color-font-dk;
    border-bottom: 3px solid $color-icons-highlight;
}

.section-games-2 {
    background-color: $color-bg-games2;
    color: $color-font-dk;
    border-bottom: 5px solid $color-font-dk;
}


//@media (max-width: 900px)