header {
    height: 100vh;
    background: url(../img/bg/header-bg.webp) no-repeat;
    background-size: cover;
    text-align: center;
    color: $color-font-lt;

    nav {
        width: 100%;
        border-bottom: 1px solid $color-font-lt;
        max-height: 5rem;
        padding: .5rem 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 100;
        font-size: $fs-sm;
        //font-size: clamp(0.875rem, calc(0.7736rem + 0.4324vw), 1.125rem);

        ul {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            list-style: none;
        }

        ul li {
            place-self: center;

            a {
                padding: 1rem 0;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                color: $color-font-lt;

                img {
                    max-width: 40%;
                    filter: drop-shadow(2px 2px 2px $color-font-dk);
                }
            }
        }
    }

    h1 {
        padding-top: clamp(13rem, calc(9.3514rem + 15.5676vw), 22rem);
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1;
        font-size: $fs-xxl;
        font-weight: 900;
        text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6)

    }

    h2 {
        padding: 1rem 1rem;
        line-height: 1.5;
        font-size: $fs-lg;
        font-weight: 700;
        text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6)
    }

}

