// HEADER
.menu-header {
    background: url(../img/menu/menu_bg_pc.jpg) no-repeat;
    background-size: cover;
}

.section-menu-food,
.section-menu-drinks {
    background-color: #303030;
    color: $color-font-lt;
}

.section-menu-food {
    border-top: 2px solid $color-font-lt;
}

.section-menu-drinks {
    padding-bottom: 3rem;
    border-bottom: 2px solid $color-font-lt;
}

// SECTION MENU FOOD

.menu-food,
.menu-drinks {
    h2 {
        color: $color-font-lt;
        text-align: center;
        line-height: 2;
        font-size: $fs-xl;
        padding-top: 2rem;
    }

    p {
        color: $color-font-lt;
        text-align: center;
        line-height: 1.5;
        font-size: $fs-md;
    }
}

.food-heading {
    text-align: center;
    font-size: $fs-lg;

    small {
        font-size: $fs-base;
    }
}

.food-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20%;
    line-height: 2;
    font-size: $fs-md;
}

.food-price {
    font-size: $fs-lg;
}

// PIZZA
.pizza-wrap {

    padding: 1rem 0;

    .food-name {
        font-size: $fs-lg;
        small {
            font-size: $fs-md;
        }
    }
}

.food-container {
    h3 {
        padding: 2rem 0;
    }
}

.food-price {
    font-weight: 700;
}



// DIPS

.dips-wrap {
    row-gap: 1rem;
}

.dips-wrap,
.side-dish-wrap {

    .food-name {
        padding-left: 35%;
    }

    .food-price {
        font-size: $fs-md;
        text-align: center;
    }
}


// SECTION MENU DRINKS


.drink-wrap {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr;
    line-height: 2;
    font-size: $fs-md;
}

.drink-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 2rem 0;
    border: 1px solid;
    border-radius: 15px;
    border-style: double;
    border-width: 15px;
}

.drink-name {
    text-align: left;
    padding-left: 35%;
}

.drink-liters {
    text-align: right;
}

.drink-price {
    text-align: left;
    padding-left: 5%;
}


.drink-heading {
    text-align: center;
    font-size: $fs-lg;
    color: $color-font-lt;
    padding: 2.5rem 0;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}


// MIXED DRINKS & BUCKETS

.mixed-drinks-wrap,
.bucket-4-wrap,
.bucket-8-wrap {
    .drink-name {
        small {
            font-size: $fs-base;
        }
    }
}

.mixed-drinks-wrap,
.bucket-4-wrap,
.bucket-8-wrap {
    row-gap: 1rem;
}

.bucket-8 {
    margin-bottom: 0;
}

.nealko {
    margin-top: 0;
}



// MEDIA QUERIES

@media (max-width: 900px) {
    .pizza-wrap {
        .food-name {
            font-size: $fs-md;
            small {
                font-size: $fs-base;
            }
        }

        .food-price {
            font-size: $fs-md;
            text-align: center;
        }
    }

    .dips-wrap,
    .side-dish-wrap {

    .food-name {
        padding-left: 10%;
    }
    }

    .drink-name {
        padding-left: 5%;
    }

    .drink-price {
        text-align: center;
    }


}