// HEADER
.menu-header {
    background: url(../img/menu/menu_bg_pc.jpg) no-repeat;
    background-size: cover;
}

.section-menu-food,
.section-menu-drinks {
    background-color: #303030;
    color: $color-font-lt;
}

// SECTION MENU FOOD

.menu-food,
.menu-drinks {
    h2 {
        color: $color-font-lt;
        text-align: center;
        line-height: 2;
        font-size: $fs-xl;
        padding-top: 2rem;
    }

    p {
        color: $color-font-lt;
        text-align: center;
        line-height: 1.5;
        font-size: $fs-md;
    }
}

.food-heading {
    text-align: center;
    font-size: $fs-lg;

    small {
        font-size: $fs-base;
    }
}

.food-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20%;
    line-height: 2;
    font-size: $fs-md;
}

.food-price {
    font-size: $fs-lg;
}

// PIZZA
.pizza-wrap {
    .food-name {
        font-size: $fs-lg;
        small {
            font-size: $fs-md;
        }
    }
}

// DIPS

.dips-wrap,
.side-dish-wrap {

    .food-name {
        padding-left: 35%;
    }

    .food-price {
        font-size: $fs-md;
    }
}


// SECTION MENU DRINKS


.drink-wrap {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr;
    line-height: 2;
    font-size: $fs-md;
}

.drink-name {
    text-align: left;
    padding-left: 35%;
}

.drink-liters {
    text-align: right;
}

.drink-price {
    text-align: left;
    padding-left: 5%;
}


.drink-heading {
    text-align: center;
    font-size: $fs-lg;
    color: $color-font-lt;
}


// MIXED DRINKS & BUCKETS

.mixed-drinks-wrap,
.bucket-4-wrap,
.bucket-8-wrap {
    .drink-name {
        small {
            font-size: $fs-base;
        }
    }
}
