.section-event {
    background: url(../img/bg/bar-gradient.png) no-repeat;
    background-size: cover;
    text-align: center;

    h2 {
        color: $color-font-lt;
        font-size: $fs-xl;
        padding-top: 2rem;
    }
    .event-title {
        padding-top: 2rem;
        color: $color-font-lt;
        font-size: $fs-md;
        line-height: 1.5;
    }
}

.article-event {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.event-item {
    filter: drop-shadow(1px 1px 1px $color-bg-dk);
    padding-top: 4rem;

    .icon-wrap {
        background-color: $color-bg-lt;
        display: inline-block;
        border-radius: 50%;
        padding: 1rem 1.8rem;
        border-top: 6px solid $color-font-other;
        font-size: $fs-xxl;
    }

    .event-item-content {

        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        background-color: $color-bg-lt;
        margin-top: -3rem;
        padding: 0 0.5rem;
        border-radius: 15px;
        padding-bottom: 2rem;

        h3 {
            font-size: $fs-md;
            padding-top: 3rem;
        }

        p {
            color: $color-font-dk;
            font-size: $fs-md;
            padding-top: 0;
            place-self: center;
            
        }

        a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: $fs-base;
            background-color: $color-btn-dk;
            color: $color-font-lt;
            padding: 1rem;
            border-radius: 5px;
            width: 75%;
            place-self: center;
        }
    }
}

@media (max-width: 1000px) {

    .section-event {
        padding-bottom: 4rem;
    }

    .article-event {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (max-width: 550px) {
    .article-event {
        grid-template-columns: 1fr;

    }
}