.section-about {
    background-color: $color-bg-lt;
    padding-bottom: 2rem;
}

.about {
    text-align: center;
    h2 {
        padding-top: 2.5rem;
        font-size: $fs-lg;
    }
    p {
        font-size: $fs-md;
    }
}

.article-about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    text-align: center;
    padding: 5rem 0;
}

.feature {

    display: grid;
    grid-template-rows: 2fr 0.5fr 1.5fr 0.2fr;

    .img-container {
        place-self: center;
    }

    .img-wrap img {
        border-radius: 50%;
        border-top: 6px solid $color-font-other;
    }

    .icon-wrap {
        background-color: $color-bg-lt;
        display: inline-block;
        border-radius: 50%;
        padding: 1rem 1.6rem;
        border-top: 6px solid $color-font-other;
        margin: -3rem;
        font-size: $fs-xl;
    }

    h3 {
        place-self: center;
        font-size: $fs-md;
        line-height: 3;
    }

    p {
        place-self: center;
        align-self: start;
        font-size: $fs-base;
        line-height: 1.5;
        padding-bottom: 2rem;
        margin: 0;
    }

    a {
        place-self: center;
        align-content: start;
        background-color: $color-btn-dk;
        color: $color-font-lt;
        text-transform: uppercase;
        padding: 1rem 2rem;
        font-weight: 700;
        border-radius: 5px;
        max-width: 80%;
        text-align: center;
    }
}

// MEDIA QUERIES

@media (max-width: 900px) {
    .article-about {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        .feature {
            grid-template-rows: 3fr 0.5fr 1.5fr 0.2fr;
        }
    }
}

@media (max-width: 600px) {
    .article-about .feature {
        grid-template-rows: 2fr 0.5fr 1.5fr 0.2fr;
    }
}

@media (max-width: 500px) {
    .article-about {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .article-about .feature {
        display: block;

    }
}