//BG COLORS
$color-bg-lt: #F5F5F5;
$color-bg-dk: #000000;
$color-bg-other: #ED1C24;

//FONT COLORS
$color-font-lt: #F5F5F5;
$color-font-dk: #000000;
$color-font-other: #ED1C24;

//BTN COLORS
$color-btn-lt: #F5F5F5;
$color-btn-dk: #000000;
$color-btn-other: #ED1C24;

